header {
    background-color: #025159;
    padding: 10px 10px 10px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px; 
}

h1 {
    margin: 0px;
    padding: 0px 50px 0px 0px;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    align-items: center;
    margin-right: 50px;
}

.login-link a {
    margin-left: auto;
    color: #fff;
}

.plan-link {
  background-color: white;
  padding: 8px 16px;
  border: 2px solid #025159;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.plan-link a{
      color: #025159;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
}

/* Estilos para el contenido principal */
main {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}

section {
    margin-bottom: 30px;

}

.containerbuscador{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px 50px 10px 0px;
}
.buscador {
    flex-grow: 1;
    font-size: 1.125rem;
    line-height: 1.1;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    color: rgb(70, 70, 70);
    border: none;
    border-radius: 8px;
}

.containerfiltros{
    line-height: 1.5;
    padding:10px 0px 10px 0px;
    display:flex;
    flex-direction: row;
}

.filtros{
    background-color: rgb(238, 238, 238);
    border-radius: 8px;
    margin-right: 0.5rem;
}

.crea{
    background-color: #025159;
    border-radius: 8px;
    margin-right: 0.5rem;
    color: #fff;
    padding: 5px 15px 5px 15px;
    text-decoration:none;
}
.crea-link{
    text-decoration:none;
    color: #fff;
}

.menus{
    appearance: none;
    min-width: 110px;
    width: 100%;
    height: auto;
    padding: 0.75rem 1.25rem;
    background-color: transparent;
    color: rgb(70, 70, 70);
    border: none;
    top: auto;
    margin-right: 0.875rem;
    font-size: 15px;
    text-align: left;
}

.menus option {
    text-align: left;
}

.cardcontainer {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
  }
  
  .card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    text-align: center;
  }

  .selected {
    border: 2px solid #025159;
}

.selected button, button {
    background-color: transparent;
    color: #025159;
    border: 2px solid #025159;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.selected button:hover {
    background-color: #025159;
    color: white;
  }

  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }

  .card a {
    text-decoration: none; /* Elimina la decoración de subrayado */
    color: black;
  }
  
  .recipe {
    margin-top: 16px;
    font-size: 16px;
    color: #333333;
    text-decoration: none;
  }


  /* Estilos para el footer */
footer {
    background-color: #C4EEF2;
    color: #333;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline-block;
    margin-right: 20px;
}

footer nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
