.planescontainer {
    margin: 20px 20px 20px 50px;
    max-width: 60vw;
}

.menus{
    text-align: center;
}

.ingredients-container{
  margin: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.listcontainer{
    padding: 0.5rem 2rem 2rem;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 212);
    margin-top: 5px;
}

.ingredients-list {
  margin-top: 10px;
  padding-left: 0;
  list-style: none;
}

.ingredients-list li {
  margin-bottom: 5px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}